﻿@{
    ViewData["Title"] = "Employee";
}
@model IEnumerable<SimpleCrud.Entities.Employee>
<div class="text-center">
  <h2>List of Employees </h2>
    <p class="text-right">
        @Html.ActionLink("Create New", "Save")
    </p>

    @if (ViewBag.Message != null)
    {
        <h4 id="messageBox">
            @ViewBag.Message
        </h4>
    }
  <table>
      <thead>
          <tr>
          <th>S.N</th>
          <th>FullName</th>
          <th>Cellphone</th>
          <th>Country</th>
          <th>Action</th>
          </tr>
      </thead>
      <tbody>
          
              @if(Model !=null && Model.Count()>0)
                {
                    int i = 1;
                    foreach(var emp in Model)
                    {
                     <tr>
                    <td>@i</td>
                    <td>@emp.FullName</td>
                    <td>@emp.CellPhone</td>
                     <td>@emp.Country</td>
                        <td>
                            @Html.ActionLink("Edit", "Save", new { id = emp.EmployeeID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = emp.EmployeeID })
                        </td>
                     </tr>
                    i++;
                    }
                }
          
      </tbody>
  </table>
</div>


@section Scripts
{
    <script>
        (function () {
            setTimeout(function () {
                const msgBox = document.getElementById("messageBox");
                if (msgBox.classList.contains('hide') == false) { 
                msgBox.classList.add('hide');
                }

            },4500)
        })();
    </script>
}
