﻿@{
    ViewBag.Title = "Save Employee";
}
@model SimpleCrud.Entities.Employee;

@if( ViewBag.Message !=null)
{
    <p>
        @ViewBag.Message
    </p>
}


<p></p>
  

<form action="/employee/save" method="post">
<label>FullName</label>
    <input type="text" title="FullName" name="FullName" value='@(@Model !=null && Model.FullName!=null?@Model.FullName:"")' />
<label>Address</label>
<textarea name="Address">@(@Model != null && Model.Address != null ? @Model.Address : "")</textarea>
<label>Cell Phone</label>
    <input type="text" name="CellPhone" value='@(@Model !=null && Model.CellPhone!=null?@Model.CellPhone:"")' />
<label>Country</label>
    <input type="text" name="Country" value='@(@Model !=null && Model.Country!=null?@Model.Country:"")' />
 @Html.AntiForgeryToken()
    @if(Model !=null && Model.EmployeeID>0)
    {
     <input type="hidden" name="EmployeeID" value="@Model.EmployeeID" />
    }
    <button type="submit">Save Employee</button>

</form>